<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example</title>
</head>
<body>
{{#error}}
<div>
    Invalid username and / or password.
</div>
{{/error}}
<form  role="form" action="/login" method="post">
    <input name="{{ _csrf.parameterName }}" type="hidden" value="{{ _csrf.token }}" />
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Family Name: <input type="password" name="familyName"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>
